.container {
  img {
    width: 50px;
  }

  .img {
    background-image: url('/img/wb.png');
    width: 110px;
    height: 110px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .list {
    box-shadow: 2px 2px 5px 2px #c7a6ff;

    li {
      background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
      border-bottom: 1px solid $bg-color;
    }
  }
}
