.home-container {
  .title {
    color: #ff0000;
  }

  .img {
    background-image: url('/static/img/wb.png');
    width: 150px;
    height: 150px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
